/* ------- clases   ------*/

body {
    background-color: #bdbcbc;
}

.titulos {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/*--tamaño imagen---*/

.tamano {
    width: 450px;
    height: 450px;
}

.borde_img1 {
    margin-right: 1430px;
    border: 3px;
    border-style: solid;
    border-color: #000000;
}

.borde_img2 {
    margin-left: 700px;
    margin-top: -509px;
    margin-right: 730px;
    border: 3px;
    border-style: solid;
    border-color: #000000;
}

.borde_img3 {
    margin-left: 1300px;
    margin-top: -509px;
    margin-right: 130px;
    border: 3px;
    border-style: solid;
    border-color: #000000;
}

.borde_img4 {
    margin-right: 1430px;
    border: 3px;
    border-style: solid;
    border-color: #000000;
}

.borde_img5 {
    margin-left: 700px;
    margin-right: 730px;
    margin-top: -509px;
    border: 3px;
    border-style: solid;
    border-color: #000000;
}

.borde_img6 {
    margin-left: 1300px;
    margin-top: -509px;
    margin-right: 130px;
    border: 3px;
    border-style: solid;
    border-color: #000000;
}

.centrar_texto {
    margin-left: 10px;
    text-align: center;
    font-family: cursive;
}