body {
    margin: 0px 200px -100px 200px;
    background-color: #0d0e0d;
}

#section1 {
    background-color: #71e9df;
    margin: 0px 0px 0px 0px;
}

#section2 {
    background-color: #71e9df;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 350px 0px;
}

li a:link,
a:visited {
    text-decoration: none;
    /*borrar subrayado*/
    color: hsl(115, 89%, 57%);
    font-family: Georgia, times;
    font-weight: bold;
    font-size: 1.2em;
}

ul {
    list-style-type: none;
    /*borrar viñetas*/
    margin: 0px 0px 0px -200px;
    padding: 0px;
}

.section_menu:hover {
    background-color: #756565;
}

.section_menu {
    display: left;
    /*barra de navegación horizontal*/
    padding: 8px;
    width: 100px;
    margin: -5px;
}

#div1 {
    margin: 0px 50px 0px -5px;
    padding: 100px 30px 30px 30px;
}