body {
    margin: 0px 350px 0px 200px;
    background-color: #070707;
}

#titulo1 {
    font-size: 40px;
    text-align: center;
}

#titulo2 {
    font-size: 40px;
    text-align: center;
}

#parrafo_perros1 {
    text-align: center;
}

#section1 {
    background-color: #c5daa9;
    margin: -15px 0px -33px 0px;
}

#section2 {
    background-color: #c5daa9;
}

.imagen {
    border-style: outset;
    margin: 0px 1372px 0px 0px;
    font-family: rgb(235, 206, 206);
}


/* Menu  */

ul {
    list-style-type: none;
    /*borrar viñetas*/
    margin: 0px 0px 0px -200px;
    padding: 0px;
}

li a:link,
a:visited {
    text-decoration: none;
    /*borrar subrayado*/
    color: #5be756;
    font-family: Georgia, times;
    font-weight: bold;
    font-size: 1.2em;
}

.perros {
    display: left;
    /*barra de navegación horizontal*/
    padding: 8px;
    width: 100px;
    margin: -5px;
    background-color: #070707;
}

.perros:hover {
    background-color: #756565;
}

#div1 {
    margin: 0px 50px 0px -5px;
    padding: 100px 30px 30px 30px;
}

#section1 {
    margin: -40px 0px -40px 0px;
}